{% extends "bs_base.html" %}
{% from 'bootstrap4/nav.html' import render_nav_item %}

{% block title %}
    {% if title %}{{ title }} - Trakr{% else %}{{ _('Welcome to Trakr') }}{% endif %}
{% endblock %}

    {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-brand">
            {{ render_nav_item('index', 'Trakr') }}
            </div>
            <div class="navbar-nav mr-auto">
                {{ render_nav_item('index', _('Home')) }}
                {{ render_nav_item('explore', _('Explore')) }}
            </div>
            <div class="navbar-nav mr-auto navbar-right">
                {% if current_user.is_anonymous %}
                {{ render_nav_item('login', _('Login')) }}
                {% else %}
                {% set active = True if request.path == url_for('user', username=current_user.username) else False %}
                <a class="nav-item nav-link {% if active %} active" aria-current="page{% endif %}"
                        href="{{ url_for('user', username=current_user.username) }}">
                {{ _('Profile') }}
                </a>
                {{ render_nav_item('logout', _('Logout')) }}
                {% endif %}

            </div>
        </nav>

    {% endblock %}

    {% block content %}

        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            
            {# application content needs to be provided in the app_content block #}
            {% block app_content %}{% endblock %}
        </div>

    {% endblock %}
 
    {% block scripts %}
        {{ super() }}
        {{ moment.include_moment() }}
    {% endblock %}